
body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #3AAFAB;
  color: #fff;
  padding: 50px 0;
}
// containers
.container-form {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer li,
.flex-inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}


// The width of the labels should be at least 120px and at most 220px.
// The width of the form elements that come after the labels should be at least 220px.
// If the window forces the box to be smaller, the lines move to the next line.

.flex-outer li {
  label,
  p {
    flex: 1 0 120px;
    align-self: flex-start;
    max-width: 220px;
    padding: 0 8px 8px 0;
   font-weight: 300;
   letter-spacing: .09em;
   text-transform: uppercase;
  }

  label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
}

.flex-outer {
  margin: 0 auto;
  max-width: 800px;

  li:not(:last-child) {
    margin-bottom: 20px;
  }

  .flex-inner {
    align-items: baseline; // Set baseline because one item has margin and one doesn't
  }

  li{
    p{
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
    }
  }
}

.flex-inner {
  width: 50%;
  // set each li check box to width of 100px
  li {
    flex: 1 100px;
    max-width: 100px; // set max with as the same as min flex width so items will wrap one right after another.
    padding: 0 0 8px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    label{
      flex: 1 0 75px;
      padding: 0 8px;
    }
  }
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}
