/* =================================
  Flexbox
==================================== */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  flex: 1;
}

.s2 .col {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
}
.s2 .button {
  align-self: flex-start;
  background-color: #3acec2;
  border-radius: 5px;
  color: white;
  margin-top: auto;
  padding: 15px;
}

/* =================================
  Media Queries
==================================== */
@media (min-width: 769px) {
  .main-header,
  .row,
  .main-nav {
    display: flex;
  }

  .main-header {
    align-items: center;
    flex-direction: column;
  }

  .row.s1 {
    flex-wrap: wrap;
  }

  .s1 .col {
    flex: 1 50%;
  }

  .s2 .col .button {
    align-self: center;
  }
}
@media (min-width: 1025px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .s1 .primary {
    flex: 2;
  }
  .s1 .secondary {
    order: -1;
  }
  .s1 .col {
    flex-basis: 0;
  }
}
