/* =================================
  Page Styles
==================================== */
* {
  box-sizing: border-box;
}

.banner {
  margin: 0;
}

.section-spacer {
  background: #d9e4ea;
  margin: 40px auto;
  padding: 2em 0;
  text-align: center;
  width: 100%;
}
.section-spacer:first-of-type {
  margin-top: 0;
}
