/*------------------------------------*\
    BREAKPOINTS
\*------------------------------------*/
$desktopXL: 1600px;
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 544px;

@mixin breakpoint($point) {
  @if $point == desktopXL {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  } @else if $point == desktop {
    // Extra large. Above 75em (1200px)
    @media only screen and (min-width: $desktop) {
      @content;
    }
  } @else if $point == laptop {
    // Large. Above 62em (992px)
    @media only screen and (min-width: $laptop) {
      @content;
    }
  } @else if $point == tablet {
    // Medium. Above 48em (768px)
    @media only screen and (min-width: $tablet) {
      @content;
    }
  } @else if $point == mobile {
    // Small. Above 34em (544px)
    @media (min-width: $mobile) {
      @content;
    }

  } @else if $point == mobilemax {
    // Small. Above 34em (544px)
    @media (max-width: $mobile) {
      @content;
    }
  } @else if $point == tabletmax {
    // Tablet. Above 34em (767px)
    @media (max-width: 47.94rem) {
      @content;
    }
  } @else if $point == laptopmax {
    // Laptop. Above 34em (767px)
    @media (max-width: 991px) {
      @content;
    }
  }
}